html,
body {
  margin: 0;
  min-height: 100%;
  background: #272d5e;
}

#list-padding {
  padding: 10px;
  padding-bottom: 50px;
}

#background {
  display: flex;
  height: 100%;
  background-repeat: repeat;
}

#search-history {
  background: rgb(208, 208, 211);
  width: 150px;
  height: 90vh;
  padding: 10px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  margin: 15px;
  list-style: none;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 25%);
}

.history-li {
  text-align: center;
  cursor: pointer;
}

#search-history h3 {
  text-align: center;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

#search,
#t-search {
  width: 800px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(208, 208, 211);
  padding: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 25%);
  margin-bottom: 15px;
  transition: opacity 0.5s ease-in;
}

#radio-selector {
  width: 800px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(208, 208, 211);
  padding: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 25%);
  margin-bottom: 15px;
}

#search {
  display: flex;
}

#t-search {
  display: none;
}

#word-search,
#t-word-search {
  border: 1px solid white;
}

#search-hist-list {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

#word-value,
#t-word-value {
  display: flex;
  justify-content: center;
}

#t-word-value {
  margin-bottom: 50px;
}

#t-list-padding {
  padding: 10px;
  padding-bottom: 50px;
}

#synonym-list {
  display: flex;
  flex-wrap: wrap;
}

.submitBtn,
#clear-hist-btn {
  color: white;
  background-color: black;
  border: 1px solid black;
}

#clear-hist-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.syn-list-item {
  width: 140px;
  height: 40px;
  list-style: none;
  cursor: pointer;
}

#word-def-list > p {
  font-style: italic;
}
